@import "variables.less";

body {
	margin: 0;
	padding: 0;
	font-family: @font;

	.container, .small-container, .medium-container {
		max-width: 1200px;
		padding: 0 1rem;
		margin-left: auto;
		margin-right: auto;
	}

	/* Tables =============== */
	table {
		border-collapse: collapse;
		border-spacing: 0;
		width: 100%;
		max-width: 100%;
	}

	thead th {
		border-bottom: 2px solid #dedede;
	}

	tfoot th {
		border-top: 2px solid #dedede;
	}

	td {
		border-bottom: 1px solid #dedede;
	}

	th, td {
		text-align: left;
		padding: .5rem;
	}

	caption {
		padding: 1rem 0;
		caption-side: bottom;
		color: #ababab;
	}

	.striped-table tbody tr:nth-child(odd) {
		background-color: #f8f8f8;
	}

	.contain-table {
		overflow-x: auto;
	}

	@media (min-width: 600px) {
		.contain-table {
			width: 100%;
		}
	}
}
